.statistics-page {
    flex: 1 1;
    background-color: #f3f3f9;
    padding: 50px;

    .total-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    .card {
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;

        &.total-users {
            background: linear-gradient(230deg, #759bff, #843cf6);
        }

        &.total-books {
            background: linear-gradient(230deg, #fc5286, #fbaaa2);
        }

        &.total-subjects {
            background: linear-gradient(230deg, #ffc480, #ff763b);
        }

        &.total-categories {
            background: linear-gradient(230deg, #0e4cfd, #6a8eff);
        }

        .card-left-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-header,
        .card-current-date {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
        }

        .card-total {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }
    }

    .admin-list {
        margin: 32px 0px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        .user-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #fff;
            padding: 16px;
            border-radius: 12px;
        }
    }
    .btn-submit {
        background-color: #04aa6d;
        border: none;
        color: white;
        padding: 8px 8px;
        text-decoration: none;
        margin: px 2px;
        cursor: pointer;
        font-size: 20px;
        width: 20%;
        border-radius: 8px;
    }
    label {
        font-size: 20px;
        margin-right: 20px;
    }
    .date-time {
        display: inline-block;
        width: 35%;
        margin: 20px;
    }
    .form_tag_class {
        display: inline;
    }
    #start,
    #end {
        width: 90%;
        height: 30px;
    }
    /* Removes the clear button from date inputs */
    #start,
    #end::-webkit-clear-button {
        display: none;
    }

    /* Removes the spin button */
    #start,
    #end::-webkit-inner-spin-button {
        display: none;
    }

    /* Always display the drop down caret */
    #start,
    #end::-webkit-calendar-picker-indicator {
        color: #2c3e50;
    }

    /* A few custom styles for date inputs */
    #start,
    #end {
        appearance: none;
        -webkit-appearance: none;
        color: #95a5a6;
        font-family: "Helvetica", arial, sans-serif;
        font-size: 18px;
        border: 1px solid #ecf0f1;
        background: #05b7e4;
        padding: 5px;
        display: inline-block !important;
        visibility: visible !important;
    }

    #start,
    #end,
    focus {
        color: #3b50ad;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
}
