// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.home-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background: #F0F0F0;

    .home-page {
        width: 100%;
        max-width: 1120px;
    }

    .book-list-header,
    .category-list-header,
    .subject-list-header {
        width: 100%;
        padding: 16px;
        background: #e76161;
        color: #fff;
    }

    .book-list,
    .category-list,
    .subject-list {
        background: #fff;
        padding: 16px;
        margin: 0;
    }


}

.category-list-container {
    padding: 16px 0;

    .category-list-header {
        font-size: 24px;
        font-weight: 700;
        background: #7132c4;

        a {
            font-size: 12px;
            color: #ddd;
            text-decoration: none;
        }
    }

    .category-list {
        display: flex;
        justify-content: space-around;

        .category-item-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        a {
            font-size: 18px;
            color: #7132c4;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

.subject-list-container {
    padding: 16px 0;

    .subject-list-header {
        font-size: 24px;
        font-weight: 700;
        background: #06af8a;

        a {
            font-size: 12px;
            color: #ddd;
            text-decoration: none;
        }
    }

    .subject-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        gap: 32px;

        a {
            font-size: 18px;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
        }
    }

    .subject-item-row {
        background-color: #06af8a;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
    }

}

.slide-promotion {
    .slideshow-container {
        position: relative;
        margin: auto;
    }

    .mySlides>img {
        height: 400px;
        width: 100%;
        vertical-align: middle;
    }

    .mySlides {
        display: none;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: black;
        font-weight: 900;
        font-size: 26px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        color: #e76161;
        background-color: #f4f4ec;
    }

    .dot-container {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #f4f4ec;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #e76161;
    }

    .fade_banner {
        animation-name: fade_banner;
        animation-duration: 1.5s;
    }

    @keyframes fade_banner {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }
}

@media (max-width: 880px) {
    .book-list.home {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 660px) {

    .book-list.home {
        grid-template-columns: repeat(2, 1fr) !important;
    }

}


@media (max-width: 450px) {
    .book-list.home {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

// css image show

.slider--container {
	position: relative; /* "relative", so that h1 and images can be set absolutely */
	height: 70vh; /* Adjust the height to your needs here */
	width: 60.5vw; /* Adjust the width to your needs here */
	margin: 10px auto;
	overflow: hidden;
	border-radius: .125rem;
	box-shadow: 0 0 .1rem .125rem rgba(0, 0, 0, 0.25);
}

.slider--image {
	position: absolute;
	z-index: 1;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	animation: 50s ease-in-out infinite;
}

.slider--image:nth-of-type(1) {
	animation-name: slide-01;
}
.slider--image:nth-of-type(2) {
	animation-name: slide-02;
}
.slider--image:nth-of-type(3) {
	animation-name: slide-03;
}

.slider--image:nth-of-type(4) {
	animation-name: slide-04;
}

.slider--image:nth-of-type(5) {
	animation-name: slide-05;
}

.slider--image:nth-of-type(6) {
	animation-name: slide-06;
}

.slider--image:nth-of-type(7) {
	animation-name: slide-07;
}

.slider--image:nth-of-type(8) {
	animation-name: slide-08;
}

.slider--image:nth-of-type(9) {
	animation-name: slide-09;
}

.slider--image:nth-of-type(10) {
	animation-name: slide-10;
}

/* Images are overlaid and visible or invisible due to different transparency */
/* Moving the images with transform: scale & translate */
	/* Styles for webkit browsers */
    @-webkit-keyframes slide-01 {
        0%  { opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
        8%  {opacity:1; -webkit-transform: scale(1) translate(-20px, -10px);}
        15%  {opacity:0; -webkit-transform: scale(1.2) translate(0, 0);}
        22%  {opacity:0;}
        29%  {opacity:0;}
        36%  {opacity:0;}
        44%  {opacity:0;}
        52%  {opacity:0;}
        60%  {opacity:0;}
        68%  {opacity:0;}
        76%  {opacity:0;}
        84%  {opacity:0;}
        92%  {opacity:0;}
        100%  {opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
    }
    @-webkit-keyframes slide-02 {
        0%  { opacity:0;}
        8%  {opacity:0; -webkit-transform: scale(1) translate(-20px, -10px);}
        15%  {opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
        22%  {opacity:1; -webkit-transform: scale(1) translate(-20px, 10px);}
        29%  {opacity:0; -webkit-transform: scale(1.2) translate(0, 0);}
        36%  {opacity:0;}
        44%  {opacity:0;}
        52%  {opacity:0;}
        60%  {opacity:0;}
        68%  {opacity:0;}
        76%  {opacity:0;}
        84%  {opacity:0;}
        92%  {opacity:0;}
        100%  {opacity:0;}
    }
    @-webkit-keyframes slide-03 {
        0%  { opacity:0;}
        8%  {opacity:0;}
        15%  {opacity:0; -webkit-transform: scale(1.2) translate(0, 0);}
        22%  {opacity:1; -webkit-transform: scale(1.2) translate(-20px, 10px);}
        29%  {opacity:1; -webkit-transform: scale(1) translate(20px, -10px);}
        36%  {opacity:0; -webkit-transform: scale(1.2) translate(0, 0);}
        44%  {opacity:0;}
        52%  {opacity:0;}
        60%  {opacity:0;}
        68%  {opacity:0;}
        76%  {opacity:0;}
        84%  {opacity:0;}
        92%  {opacity:0;}
        100%  {opacity:0;}
    }
    @-webkit-keyframes slide-04 {
        0%  { opacity:0;}
        8%  {opacity:0;}
        15%  {opacity:0;}
        22%  {opacity:0; -webkit-transform: scale(1) translate(20px, -10px);}
        29%  {opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
        36%  {opacity:1; -webkit-transform: scale(1) translate(-20px, 10px);}
        44%  {opacity:0; -webkit-transform: scale(1.2) translate(0, 0);}
        52%  {opacity:0;}
        60%  {opacity:0;}
        68%  {opacity:0;}
        76%  {opacity:0;}
        84%  {opacity:0;}
        92%  {opacity:0;}
        100%  {opacity:0;}
    }
    @-webkit-keyframes slide-05 {
        0%  { opacity:0;}
        8%  {opacity:0;}
        15%  {opacity:0;}
        22%  {opacity:0;}
        29%  {opacity:0; -webkit-transform: scale(1) translate(-20px, 10px);}
        36%  {opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
        44%  {opacity:1; -webkit-transform: scale(1) translate(20px, -10px);}
        52%  {opacity:0; -webkit-transform: scale(1.2) translate(0, 0);}
        60%  {opacity:0;}
        68%  {opacity:0;}
        76%  {opacity:0;}
        84%  {opacity:0;}
        92%  {opacity:0;}
        100%  {opacity:0;}
    }
    @-webkit-keyframes slide-06 {
        0%  { opacity:0;}
        8%  {opacity:0;}
        15%  {opacity:0;}
        22%  {opacity:0;}
        29%  {opacity:0;}
        36%  {opacity:0; -webkit-transform: scale(1) translate(20px, -10px);}
        44%  {opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
        52%  {opacity:1; -webkit-transform: scale(1) translate(-20px, 10px);}
        60%  {opacity:0; -webkit-transform: scale(1.2) translate(0, 0);}
        68%  {opacity:0;}
        76%  {opacity:0;}
        84%  {opacity:0;}
        92%  {opacity:0;}
        100%  {opacity:0;}
    }
    @-webkit-keyframes slide-07 {
        0%  { opacity:0;}
        8%  {opacity:0;}
        15%  {opacity:0;}
        22%  {opacity:0;}
        29%  {opacity:0;}
        36%  {opacity:0;}
        44%  {opacity:0; -webkit-transform: scale(1) translate(-20px, 10px);}
        52%  {opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
        60%  {opacity:1; -webkit-transform: scale(1) translate(20px, -10px);}
        68%  {opacity:0; -webkit-transform: scale(1.2) translate(0, 0);}
        76%  {opacity:0;}
        84%  {opacity:0;}
        92%  {opacity:0;}
        100%  {opacity:0;}
    }
    @-webkit-keyframes slide-08 {
        0%  { opacity:0;}
        8%  {opacity:0;}
        15%  {opacity:0;}
        22%  {opacity:0;}
        29%  {opacity:0;}
        36%  {opacity:0;}
        44%  {opacity:0;}
        52%  {opacity:0; -webkit-transform: scale(1) translate(20px, -10px);}
        60%  {opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
        68%  {opacity:1; -webkit-transform: scale(1) translate(-20px, 10px);}
        76%  {opacity:0; -webkit-transform: scale(1.2) translate(0, 0);}
        84%  {opacity:0;}
        92%  {opacity:0;}
        100%  {opacity:0;}
    }
    @-webkit-keyframes slide-09 {
        0%  { opacity:0;}
        8%  {opacity:0;}
        15%  {opacity:0;}
        22%  {opacity:0;}
        29%  {opacity:0;}
        36%  {opacity:0;}
        44%  {opacity:0;}
        52%  {opacity:0;}
        60%  {opacity:0; -webkit-transform: scale(1) translate(-20px, 10px);}
        68%  {opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
        76%  {opacity:1; -webkit-transform: scale(1) translate(20px, -10px);}
        84%  {opacity:0;-webkit-transform: scale(1.2) translate(0, 0);}
        92%  {opacity:0;}
        100%  {opacity:0;}
    }
    @-webkit-keyframes slide-10 {
        0%  { opacity:0;}
        8%  {opacity:0;}
        15%  {opacity:0;}
        22%  {opacity:0;}
        29%  {opacity:0;}
        36%  {opacity:0;}
        44%  {opacity:0;}
        52%  {opacity:0;}
        60%  {opacity:0;}
        68%  {opacity:0; -webkit-transform: scale(1) translate(20px, -10px);}
        76%  {opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
        84%  {opacity:1; -webkit-transform: scale(1) translate(-20px, 10px);}
        92%  {opacity:1; -webkit-transform: scale(1.2) translate(0, 0);}
        100%  {opacity:0;}
    }

    	/* Styles for all other browsers */
@keyframes slide-01 {
    0%  { opacity:1; transform: scale(1.2) translate(0, 0);}
    8%  {opacity:1; transform: scale(1) translate(-20px, -10px);}
    15%  {opacity:0; transform: scale(1.2) translate(0, 0);}
    22%  {opacity:0;}
    29%  {opacity:0;}
    36%  {opacity:0;}
    44%  {opacity:0;}
    52%  {opacity:0;}
    60%  {opacity:0;}
    68%  {opacity:0;}
    76%  {opacity:0;}
    84%  {opacity:0;}
    92%  {opacity:0;}
    100%  {opacity:1; transform: scale(1.2) translate(0, 0);}
}
@keyframes slide-02 {
    0%  { opacity:0;}
    8%  {opacity:0; transform: scale(1) translate(-20px, -10px);}
    15%  {opacity:1; transform: scale(1.2) translate(0, 0);}
    22%  {opacity:1; transform: scale(1) translate(-20px, 10px);}
    29%  {opacity:0; transform: scale(1.2) translate(0, 0);}
    36%  {opacity:0;}
    44%  {opacity:0;}
    52%  {opacity:0;}
    60%  {opacity:0;}
    68%  {opacity:0;}
    76%  {opacity:0;}
    84%  {opacity:0;}
    92%  {opacity:0;}
    100%  {opacity:0;}
}
@keyframes slide-03 {
    0%  { opacity:0;}
    8%  {opacity:0;}
    15%  {opacity:0; transform: scale(1.2) translate(0, 0);}
    22%  {opacity:1; transform: scale(1.2) translate(-20px, 10px);}
    29%  {opacity:1; transform: scale(1) translate(20px, -10px);}
    36%  {opacity:0; transform: scale(1.2) translate(0, 0);}
    44%  {opacity:0;}
    52%  {opacity:0;}
    60%  {opacity:0;}
    68%  {opacity:0;}
    76%  {opacity:0;}
    84%  {opacity:0;}
    92%  {opacity:0;}
    100%  {opacity:0;}
}
@keyframes slide-04 {
    0%  { opacity:0;}
    8%  {opacity:0;}
    15%  {opacity:0;}
    22%  {opacity:0; transform: scale(1) translate(20px, -10px);}
    29%  {opacity:1; transform: scale(1.2) translate(0, 0);}
    36%  {opacity:1; transform: scale(1) translate(-20px, 10px);}
    44%  {opacity:0; transform: scale(1.2) translate(0, 0);}
    52%  {opacity:0;}
    60%  {opacity:0;}
    68%  {opacity:0;}
    76%  {opacity:0;}
    84%  {opacity:0;}
    92%  {opacity:0;}
    100%  {opacity:0;}
}
@keyframes slide-05 {
    0%  { opacity:0;}
    8%  {opacity:0;}
    15%  {opacity:0;}
    22%  {opacity:0;}
    29%  {opacity:0; transform: scale(1) translate(-20px, 10px);}
    36%  {opacity:1; transform: scale(1.2) translate(0, 0);}
    44%  {opacity:1; transform: scale(1) translate(20px, -10px);}
    52%  {opacity:0; transform: scale(1.2) translate(0, 0);}
    60%  {opacity:0;}
    68%  {opacity:0;}
    76%  {opacity:0;}
    84%  {opacity:0;}
    92%  {opacity:0;}
    100%  {opacity:0;}
}
@keyframes slide-06 {
    0%  { opacity:0;}
    8%  {opacity:0;}
    15%  {opacity:0;}
    22%  {opacity:0;}
    29%  {opacity:0;}
    36%  {opacity:0; transform: scale(1) translate(20px, -10px);}
    44%  {opacity:1; transform: scale(1.2) translate(0, 0);}
    52%  {opacity:1; transform: scale(1) translate(-20px, 10px);}
    60%  {opacity:0; transform: scale(1.2) translate(0, 0);}
    68%  {opacity:0;}
    76%  {opacity:0;}
    84%  {opacity:0;}
    92%  {opacity:0;}
    100%  {opacity:0;}
}
@keyframes slide-07 {
    0%  { opacity:0;}
    8%  {opacity:0;}
    15%  {opacity:0;}
    22%  {opacity:0;}
    29%  {opacity:0;}
    36%  {opacity:0;}
    44%  {opacity:0; transform: scale(1) translate(-20px, 10px);}
    52%  {opacity:1; transform: scale(1.2) translate(0, 0);}
    60%  {opacity:1; transform: scale(1) translate(20px, -10px);}
    68%  {opacity:0; transform: scale(1.2) translate(0, 0);}
    76%  {opacity:0;}
    84%  {opacity:0;}
    92%  {opacity:0;}
    100%  {opacity:0;}
}
@keyframes slide-08 {
    0%  { opacity:0;}
    8%  {opacity:0;}
    15%  {opacity:0;}
    22%  {opacity:0;}
    29%  {opacity:0;}
    36%  {opacity:0;}
    44%  {opacity:0;}
    52%  {opacity:0; transform: scale(1) translate(20px, -10px);}
    60%  {opacity:1; transform: scale(1.2) translate(0, 0);}
    68%  {opacity:1; transform: scale(1) translate(-20px, 10px);}
    76%  {opacity:0; transform: scale(1.2) translate(0, 0);}
    84%  {opacity:0;}
    92%  {opacity:0;}
    100%  {opacity:0;}
}
@keyframes slide-09 {
    0%  { opacity:0;}
    8%  {opacity:0;}
    15%  {opacity:0;}
    22%  {opacity:0;}
    29%  {opacity:0;}
    36%  {opacity:0;}
    44%  {opacity:0;}
    52%  {opacity:0;}
    60%  {opacity:0; transform: scale(1) translate(-20px, 10px);}
    68%  {opacity:1; transform: scale(1.2) translate(0, 0);}
    76%  {opacity:1; transform: scale(1) translate(20px, -10px);}
    84%  {opacity:0;transform: scale(1.2) translate(0, 0);}
    92%  {opacity:0;}
    100%  {opacity:0;}
}
@keyframes slide-10 {
    0%  { opacity:0;}
    8%  {opacity:0;}
    15%  {opacity:0;}
    22%  {opacity:0;}
    29%  {opacity:0;}
    36%  {opacity:0;}
    44%  {opacity:0;}
    52%  {opacity:0;}
    60%  {opacity:0;}
    68%  {opacity:0; transform: scale(1) translate(20px, -10px);}
    76%  {opacity:1; transform: scale(1.2) translate(0, 0);}
    84%  {opacity:1; transform: scale(1) translate(-20px, 10px);}
    92%  {opacity:1; transform: scale(1.2) translate(0, 0);}
    100%  {opacity:0;}
}
