<div class="footer-wrapper">
  <footer class="footer-distributed">
    <div class="footer-content">
      <div class="footer-left">
        <div class="logo">
          <%=link_to image_tag("logo.jpg", alt: "Rails logo" , id: "logo" ), root_path%>
        </div>
      </div>
      <div class="footer-center">
        <div>
          <a href="http://maps.google.com/?q=Khu đất T02, khu dân cư số 2, Phường Xương Giang, Thành phố Bắc Giang" target="blank">
            <i class="fa fa-map-marker"></i>
          </a>
          <p><a href="http://maps.google.com/?q=Khu đất T02, khu dân cư số 2, Phường Xương Giang, Thành phố Bắc Giang" target="blank">
              <span>Số 01 - Đường Bàng Bá Lân</span> Phường Dĩnh Kế, Thành phố Bắc Giang
            </a></p>
        </div>
        <div>
          <a href="tel:02043662789"><i class="fa fa-phone"></i></a>
          <p><a href="tel:02043662789">0397896868</a></p>
        </div>
        <div>
          <a href="mailto:thcslqdbg@bacgiang.edu.vn"><i class="fa fa-envelope"></i></a>
          <p><a href="mailto:thcslqdbg@bacgiang.edu.vn">thdkbg@bacgiang.edu.vn</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Về chúng tôi</span>
          Là Trường tiểu học công lập có bề dày lịch sử và là lá cờ đầu về giáo dục tiểu học của tỉnh Bắc Giang.
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
</div>
